@use "./base.scss";

// put your custom CSS here!


::-webkit-scrollbar {
    visibility: hidden;
}












// Folders overview


li.section-li>.section>.meta {
    color: var(--dark);
}


.section h3, .section>.tags {
    margin-left: 3em;
}


// TYPOGRAPHY


em {
    font-family: var(--italicVariantFont) !important;
    font-style: italic;
    color: var(--dark) !important;

    font-weight: 400 !important;
    font-size: 1em;


}

strong {
    letter-spacing: 0.5px;

}



[saved-theme="light"] .page article p>strong {
    color: var(--dark);
    font-weight: 700;
}






[saved-theme="dark"] .page article p>strong {
    font-weight: 400 !important;
    color: var(--primary);

}




body, section {


    font-weight: var(--bodyfontweight);
    font-family: var(--bodyFont);

    background-color: var(--light);
    color: var(--darkgray);
    max-width: 100%;
    margin: 0;
    letter-spacing: 0.3px;
    box-sizing: border-box;

    font-size: 18px;



}


[saved-theme="dark"] body, section {
    font-size: 18px;

}


::marker {
    color: var(--primary);

}



// Bullet Lists

tbody, li, p {
    line-height: 1.6rem;
    padding-bottom: 0.3em;
}


// general stuff



 [saved-theme="dark"] .text-highlight {


    background-color: var(--highlight);
    font-weight: var(--bodyfontweight);

    color: var(--light);
    border-radius: 0px;
    padding: 0 0.2rem;
    font-weight: 500;


}

[saved-theme="light"] .text-highlight {


    background-color: var(--highlight);
    font-weight: var(--bodyfontweight);

    color: var(--light);
    border-radius: 0px;

    font-weight: 400;

}



.explorer {
    text-align: left;
    cursor: pointer;
    color: var(--secondary);
    border: 0px var(--linkcolor) solid;
    padding-left: 10px;
    padding-top: 10px;

}

   
button#explorer h1 {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;

    display: inline-block;
    padding-bottom: 5px;
    text-decoration: var(--primary) underline; 
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.1px;
    
     
}


button#explorer .fold {
    opacity: .8;
    margin-left: 0.5rem;
    transition: transform .3s;
    padding-bottom: 25px;
    color: var(--primary);
    display:none;

}

button#explorer.collapsed .fold {
    transform: rotate(-90deg);
    padding-bottom: 25px;
    padding-left: 20px;
    margin-left: 0.5rem;

}

.breadcrumb-container {
    flex-flow: wrap;
    gap: 0.5rem;
    padding: 0;
}

.search>#search-icon {
    background-color: var(--light);
    border: 2px var(--primary) solid;

    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    align-items: center;
    height: 2rem;
    display: flex;
}

.search p {
    font-family: var(--headerFont);
}


// Internal Links



// Breaccrumb links as san serif UX

.breadcrumb-element a {
    color: var(--linkcolor);
    font-weight: 400;
    text-decoration: none;
    transition: color .2s;

    font-family: var(--headerFont);
    font-variant: small-caps;

}


.breadcrumb-element a:hover {
    color: var(--linkcolor);
    font-weight: 400;
    text-decoration: none;
    transition: color .2s;

    font-family: var(--headerFont);
    text-decoration: var(--primary) underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em; 
    
}




/* a.internal {

    font-weight: 400;
    background-color: var(--linkbackground) !important;
    color: var(--linkcolor);
    border-radius: 2px;
    padding: 0 0.1rem;
    line-height: 1.4rem;
    text-decoration: none;

    
}

*/



a.internal {

    font-weight: 500;
    color: var(--linkcolor) !important;
    border-radius: 2px;
    padding: 0 0.1rem;
    line-height: 1.4rem;
    background: none;

    text-decoration-color: var(--linkbackground);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
;


}

[saved-theme="light"] a.internal {
    color: var(--linkcolor) !important;
    background-color: var(--linkbackground) !important;

    border-radius: 2px;
    padding: 0 0.1rem;
    line-height: 1.4rem;


    font-weight: 600;

    /*
    text-decoration: var(--primary) underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.8px; 
    */
}



[saved-theme="light"]  a:hover {

    color: var(--linkcolor) !important;
    border-radius: 2px;
    padding: 0 0.1rem;
    line-height: 1.4rem;
    background-color: var(--light) !important;
    background: none !important;

    text-decoration: var(--linkcolor) underline;
    text-underline-offset: 0.4em;
    text-decoration-thickness: 0.8px; 

   

}



[saved-theme="dark"] a.internal {
    font-style: normal !important;
    text-transform: none;
    font-variant: normal !important;

    font-weight: var(--bodyfontweight);

    letter-spacing: 0px;
    word-spacing: 0em;

}

[saved-theme="dark"]  a:hover {


    color: var(--linkcolor) !important;
    border-radius: 2px;
    padding: 0 0.1rem;
    line-height: 1.4rem;
    background-color: none;
    text-decoration: var(--linkcolor) underline;
    text-underline-offset: 0.4em;
    text-decoration-thickness: 0.5px; 

    
}








// SPACE MOCS: No underlined links


div.desc h3, div.desc a  {
    
    underline: none ;
    text-decoration: none ;
}


// consistent fonts for links
h3 a {

    font-family: var(--bodyFont);
}






// MEta daten

.content-meta {
    color: var(--gray);
    margin-top: 0;
    margin-bottom: 2em;

}




// Hashtags


a.internal.tag-link {
    background-color: var(--light) !important;
    color: var(--primary) !important;
    border-radius: 20px;
    margin: 0 0.1rem;
    padding: 0.2rem 0.4rem;
    border: 1px var(--primary) solid;
    text-decoration: none !important;
    font-style: normal !important;
    font-family: var(--headerFont);

}



a.internal.tag-link:hover {
background-color: var(--primary) !important;
    color: var(--light) !important;
    border: none;

}





// Tags Styling vs space (no #)

 div.popover-hint h2 a.internal.tag-link:before, p.content-meta a.internal.tag-link:before {

    content: "";
}


// Tags Styling within contentmeta

div.popover-hint h2 a.internal.tag-link, p.content-meta a.internal.tag-link {
    background-color: var(--primary) !important;
    color: var(--light) !important;
    border: none;
    border-radius: 5px;
    margin: 0 0.1rem;
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;
}



div.popover-hint h2 a.internal.tag-link:hover, p.content-meta a.internal.tag-link:hover   {
    background-color: var(--light) !important;
    color: var(--primary) !important;
    border-radius: 5px;
    margin: 0 0.1rem;
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;

    border: 1px var(--primary) solid;
    text-decoration: none !important;


}



blockquote {
    margin: 1rem 0;
    border-left: 3px solid var(--primary);
    padding-left: 1rem;
    transition: border-color 0.2s ease;

    line-height: 1.4em;
    font-size: 0.95em;

    font-weight: var(--blockquote-font-width);
    letter-spacing: 0.81px;

    color:  var(--text-normal) !important; 

    border: 0px solid;
    border-left-width: 0px !important;
   
    line-height: 1.5em;
    margin: 10 10px;

    margin-left: 40px;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;


}

[saved-theme="dark"] blockquote {

   font-style: italic;
}



// Embeds

blockquote.transclude {

  padding-left: 1rem !important;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0;
  border-left: 2px solid var(--linkcolor) !important;
  font-style: normal;
  transition: border-color .2s;
}


// Embed note title


blockquote.transclude  h1 {

 font-size: 1.25em;
 color: var(--linkcolor);

}


// CUSTOMIZED HEADERS & Typography

.page-title {
color: var(--primary) !important;

font-weight: 300;
font-size: 1.5em ;
text-align: left;
display:none;

}




.footnotes {
    border-top: 1px solid var(--linkcolor);
    margin-top: 2rem;
}


.article-title {
    font-size: 1.75em;

    margin: 2rem 0 5;
    color: var(--secondary);
    font-weight: 600;



}


.page article>h1 {
    font-size: 1.35em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding-top: 0.1em;
    border-top: 4px solid var(--linkcolor);

    margin-top: 5em;
    margin-bottom: 2.5rem;

}




[saved-theme="light"] .page article>h1 {
    font-size: 1.35em;
    font-weight: 900;
    color: var(--primary);
    

    text-align: left;

    padding-top: 0.1em;
    border-top: 4px solid var(--primary);


}

[saved-theme="dark"] .page article>h1 {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--linkcolor);
    
    border-top: 4px solid var(--linkcolor);


}



// Page title

h1 {
  font-size: 1.75em;

  color: var(--dark);
  font-weight: 600;
  letter-spacing: 0.8px;

}





[saved-theme="light"] h2 {
  color: var(--dark);
font-weight: 700 ;
font-size: 1.75em ;;

letter-spacing: 0.5px;
margin-top: 3rem;

}     

[saved-theme="dark"] h2 {
color: var(--dark);
font-weight: 700 ;
font-size: 1.75em ;;

letter-spacing: 0.5px;
margin-top: 3rem;

}


[saved-theme="dark"] h3 {
  color: var(--dark);
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  line-height: 1.6em;

  text-transform: none;
 
  padding-bottom: 10px;
  margin-bottom: 20px;

  text-decoration: var(--primary) underline; 
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.1px;

}


h3 {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  line-height: 1.6em;

  text-transform: none;
 
  padding-bottom: 10px;
  margin-bottom: 20px;

}


// Color of the notetitles in search
.search>#search-container>#search-space>#search-layout>#results-container .result-card>h3 {
    margin: 0;
    text-decoration: none !important;
    color: var(--linkcolor);
    
}





.graph>h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--dark);
   display: none;

}

.backlinks>h3 {
    margin: 0;
    font-size: 1em;
    color: var(--dark);
    text-decoration: var(--primary) underline; 

    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.1px;

}



button#toc h3 {
    margin: 0;
    font-size: 1rem;
    display: inline-block;
    color: var(--dark);

    text-decoration: var(--primary) underline; 

    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.1px;

}


[saved-theme="light"] h4 {

font-family: var(--italicVariantFont);
color: var(--dark);

font-size: 1.2em ;
font-weight: 600 ;
letter-spacing: 1.1px;
font-style: italic;
font-variant: normal;

padding-top: 15px;
text-decoration: var(--dark) underline; 
text-underline-offset: 0.35em;
text-decoration-thickness: 0.5px;

}


[saved-theme="dark"] h4 {

font-family: var(--italicVariantFont);

color: var(--dark);

font-size: 1.1em ;
font-weight: 200 ;
letter-spacing: 1.1px;
font-style: italic;
font-variant: normal;

padding-top: 15px;
text-decoration: var(--primary) underline; 
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.1px;

}







[saved-theme="dark"] h5 {
  font-family: var(--codeFont);

  color:  var(--primary);
  font-weight: 400 ;
  font-size: 0.8em ;
  letter-spacing: 1.5px;
  
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;

}


h5 {
  font-family: var(--codeFont);

  color:  var(--primary);
  font-weight: 500 ;
  font-size: 0.8em ;
  letter-spacing: 1px;
  
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;

}


[saved-theme="dark"]  h6 {
  font-family: var(--codeFont);
    
  color:  var(--dark);
  font-weight: 400 ;
  font-size: 0.8em ;
  letter-spacing: 1.5px;
  
  font-style: normal;
  font-variant: normal;
}

h6 {
  font-family: var(--codeFont);
    
  color:  var(--dark);
  font-weight: 600 ;
  font-size: 0.8em ;
  letter-spacing: 1.5px;
  
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}




code {
    color: var(--dark);
    font-weight: 400;
    border-radius: 5px;

    background: var(--light);
    border: 1px solid var(--primary);

}





// CHECKBOXES


input[type=checkbox] {

    border: 2px solid var(--secondary);
    background-color: var(--light);
    appearance: none;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin-inline: -1.4rem .2rem;
    position: relative;
    transform: translateY(2px);
}

input[type=checkbox]:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);
}


.page article li:has(>input[type=checkbox]:checked) {
text-decoration: none;
-webkit-text-decoration-color: var(--gray);
text-decoration-color: var(--gray);
color: var(--gray);
opacity: 70%;
}



.contains-task-list {
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    padding-top: 10px;

    padding-bottom: 10px;

}


// TABLES

th {
    color: var(--primary);
    text-align: left;
    border-bottom: 1px solid var(--primary);
    padding: .4rem .7rem;
}




// CALLOUTS



.callout {
    --color: #448aff;
    --border: #448aff44;
    --bg: #448aff10;
    --callout-icon: var(--callout-icon-note);
    margin-left: 0px;
}




.callout[data-callout=note] {
    --color: var(--light);
    --border: #ef699e;
    --bg: #ef699e;
    --callout-icon: var(--callout-icon-note);

}

.callout[data-callout=note] >:nth-child(2)  {
    margin-top: 0;
    font-style: normal !important;
    color: #000;

}

.callout[data-callout=note]>:nth-child(2) strong  {
    font-weight: 800 !important;
    font-style: normal !important;
    color: #000;

}




// Styling of callout paragraph & title

.callout-title>.callout-title-inner>p {
    color: var(--color);
    margin: 0;
    font-style: normal !important;
    font-family: var(--headerFont);
    font-weight: 900;

}

.callout>:nth-child(2) {
    margin-top: 0;
    font-style: normal !important;
}


// Divider

hr {
    background-color: var(--primary);
    border: none;
    width: 100%;
    height: 1px;
    margin: 2rem auto;
}



img {
    border-radius: 2px;
    max-width: 100%;
    box-shadow: rgba(239, 105, 158, 0.20) 0px 18px 50px -10px;
}


.search {
    flex-grow: .3;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: none;
}




// Tables


td {
    padding: .2rem .7rem;
    font-style: normal;
}




